<!-- 
    Save this file under ~/Library/LaunchAgents/
    change <string>com.sc.lynda.login</string> to any unique name
    change <string>path/to/ruby/script/lyndaLogIn/log_in.rb</string> to the path to the ruby script on your machine
    add "#!/usr/bin/env Users/sc/.rbenv/shims/ruby" to the first line of the log_in.rb script
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 	<key>Label</key>
 	<string>com.sc.lynda.login</string>


    <key>ProgramArguments</key>
    <array>
        <string>path/to/ruby/script/lyndaLogIn/log_in.rb</string>
    </array>

    <key>Nice</key>
    <integer>1</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>00</integer>
        <key>Hour</key>
        <integer>10</integer>
        <key>Day</key>
        <integer>1</integer>
    </dict>

</dict>
</plist>
