<!-- 
    #########################################################################################################################
    #   Save this file under ~/Library/LaunchAgents/                                                                        #
    #   change <string>path/to/ruby/script/lyndaLogIn/log_in.rb</string> to the path to the ruby script on your machine     #
    #########################################################################################################################
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 	<key>Label</key>
 	<string>com.sc.lynda.login</string>

    <key>Program</key>
    <string>/Users/sc/projects/ruby/logIn/log_in.rb</string>

    <key>Nice</key>
    <integer>1</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>00</integer>
        <key>Hour</key>
        <integer>10</integer>
        <key>Day</key>
        <integer>1</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/tmp/lyndaLogin.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/lyndaLogin.log</string>

</dict>
</plist>
